<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <style>

      .toolTip {
        position: absolute;
        display: none;
        min-width: 80px;
        height: auto;
        background: none repeat scroll 0 0 #ffffff;
        border: 1px solid #6F257F;
        padding: 14px;
        text-align: center;
      }

      h1 {
        font-size : 150%;
        color:#696969;
        text-align: center;
      }

      h2 {
        font-size : 110%;
        color:#489450;
      }

      .xaxis text {
        color:#676779;
      }

      .yaxis text {
        color:#676779;
      }

      #svgcontainer {
        display: inline-block;
      }

      #explcontainer {
        display: inline-block;
      }
    </style>
    
    <h1>You want to benefit from a training from the Colombian government about Open Data ? </br>But when are these trainings mostly given?</h1>
    <div id="wrapper">

      <div id = "svgcontainer">
            <h2>Dataset</h2>
            <div>
              <p style="color:#789410;font-size:85%">Data are processed to consider the fact that at the moment where we got the data, the months of october, november and december of 2018 are missing. </br>As a result, we normalised the data between the years 2016 and 2017 (complete) and 2018 (uncomplete).</p>
              <button id = "swToYearButton" style="padding: 5px 10px; text-align: center;font-size: 80%;margin: 2px 1px;">Switch to year</button>
              <button id = "swToMonthButton" disabled style="padding: 5px 10px; text-align: center;font-size: 80%;margin: 2px 1px;">Switch to month</button>
            </div>
      </div>

       <div id = "explcontainer">
            <h2>What, why and how ? Understanding this visualization thanks to abstraction</h2>
            <p style="color:#789410;font-size:110%">What ?</p>
            <p style="color:#111111;">
              This visualization uses open data from data.gov.com. The aim is to show some interesting insights about this data : this is the principal objective. The other ones are more academic, like use d3 and publish the web page on githubPages. The technologies used are d3 (javascript), HTML, CSS and git (nodejs for developing with a local server). There is no specific prerequisites for enjoying the visualization neither for using the code available in github.
              To be more precise about these insights, in the following paragraphs we will explain what were our data (through data abstraction), why this visualization (through task abstraction) and the reason of how we choice to present the data (idioms : visual encoding and interaction) ; thanks to that, we have been able to answer to the title question : Colombian migration : where do people go more ? And who are they ?
              <br/><br/>
              What ?
              <br/><br/>
      </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>

      // Const margin data for viz
      const width = 850;
      const height = 450;
      const margin = {top: 5, right: 70, bottom: 50, left: 50};
      const iwidth = width - margin.left -margin.right;
      const iheight = height - margin.top - margin.bottom;

      // Const ray for line chart
      const circleRay = 4;

      const timeFormatYear = "%Y";
      const timeFormatMonth = "%Y-%m";

      const timeMonthLetter = d3.timeFormat("%b");
      const timeYearLetter =d3.timeFormat(timeFormatYear);

      const parseTimeYear = d3.timeParse(timeFormatYear);
      const parseTimeMonth = d3.timeParse(timeFormatMonth);

      // SVG and g elements
      var svg = d3.select("#svgcontainer")
          .append("svg")
          .attr("width", iwidth + margin.left + margin.right)
          .attr("height", iheight + margin.top + margin.bottom);

      var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      //Tooltip var
      var tooltip = d3.select("body").append("div").attr("class", "toolTip");

      // Original ata var
      var dataOrigin;

      // Dataset 1,2
      var dataMonth1, dataYear1;

      //Var for axis x and y
      var xDomain, yDomain, xaxis, yaxis, x, y;

      // Load csv with promise
      d3.csv('https://raw.githubusercontent.com/pierreraimbaud/CapacitacionesColombia/master/Calendario_de_Capacitaciones__Iniciativa_Datos_Abiertos.csv').then(function(data) {
          dataOrigin = data;
          console.log(dataOrigin);
          //Create bar chart
          createBar();
      });

      //button to swap to the other dataset
      d3.select("#swToYearButton").on("click",function(){
          updateLineChartToYear();
      });//end click function

      //button to swap to the other dataset (get back)
      d3.select("#swToMonthButton").on("click",function(){
          updateLineChartToMonth();
      });//end click function

      //Create chart
      function createBar(){

        //Set dataset title
        d3.select("h2").text("Dataset about capacitation quantity (rate under total, in %) by month (normalised promedian of the 3 years)");

        //Data preparation (2 datasets)
        prepareDatasets();        

        //Create Axis
        addAxisForChart();

        //Create line chart (line)
        addLineForMonth();

        //Create points on line chart (circle - superimpose)
        addPointsForMonth();
      }

      //Prepare datasets for chart
      function prepareDatasets(){

        //Nest data for getting it as wanted
        var dataYear = d3.nest()
          .key(function(d){
            return d.Year;
          })
          .rollup(function(values) { return values.length; })
          .entries(dataOrigin);
        
        dataYear.sort(function(x, y){
          return d3.ascending(+x.key, +y.key);
        });

        // Normalise the results because the years 2016 and 2017 are complete whereas that in 2018 we don't have october; november; december
        var totalYear=0;
        for (i = 0; i < dataYear.length; i++) { 
          switch(dataYear[i].key) {
            case "2016":
            case "2017":
                dataYear[i].value=dataYear[i].value/12;
                break;
            case "2018":
                dataYear[i].value=dataYear[i].value/9;
                break;
          }
        }
        for (i = 0; i < dataYear.length; i++) { 
          totalYear+=dataYear[i].value;
        }
        for (i = 0; i < dataYear.length; i++) {
          dataYear[i].value=(dataYear[i].value/totalYear*100).toFixed(2);
        }

        dataYear1=dataYear;
        //format the data for time scale
        dataYear1.forEach(function(d) {
          d.key = parseTimeYear(+d.key);
        });
        
        //Nest data for getting it as wanted
        var dataMonth = d3.nest()
          .key(function(d){
            return +d.Month;
          })
          .rollup(function(values) { return values.length; })
          .entries(dataOrigin);
        
        dataMonth.sort(function(x, y){
          return d3.ascending(+x.key, +y.key);
        });

        // Normalise the results all the months appear 3 times except october; november; december
        var total=0;
        for (i = 0; i < dataMonth.length; i++) { 
          switch(dataMonth[i].key) {
            case "01":
            case "02":
            case "03":
            case "04":
            case "05":
            case "06":
            case "07":
            case "08":
            case "09":
                dataMonth[i].value=dataMonth[i].value/3;
                break;
            case "10":
            case "11":
            case "12":
                dataMonth[i].value=dataMonth[i].value/2;
                break;
          }
        }
        for (i = 0; i < dataMonth.length; i++) { 
          total+=dataMonth[i].value;
          dataMonth[i].dateFacticeYear = "2010-"+dataMonth[i].key;
        }
        for (i = 0; i < dataMonth.length; i++) {
          dataMonth[i].value=(dataMonth[i].value/total*100).toFixed(2);
        }
        dataMonth1=dataMonth;
        // format the data for time scale
        dataMonth1.forEach(function(d) {
          d.dateFacticeYear = parseTimeMonth(d.dateFacticeYear);
        });
      }

       //Add the axis on chart
      function addAxisForChart(){

        // X scale definition
        x = d3.scaleTime().range([0, iwidth]);
        xDomain=d3.extent(dataMonth1, function(d) { return d.dateFacticeYear;});
        x.domain(xDomain);

        // Y scale definition
        y = d3.scaleLinear().rangeRound([iheight, 0]);
        var max = d3.max(dataMonth1, function(d){
          return +d.value});
        yDomain=[0,max];
        y.domain(yDomain);

        // Axis x
        xaxis = g.append('g').attr('class', 'xaxis')
            .call(d3.axisBottom(x).ticks(d3.timeMonth, 1)
              .tickFormat(timeMonthLetter))
            .attr("transform", `translate(0,${iheight})`)
            .attr("class", "xaxis");

        // Axis y  
        yaxis = g.append('g').attr('class', 'yaxis')
            .call(d3.axisLeft(y));
      }

      //Add the line on chart
      function addLineForMonth(){

        // Add the line which join the points
        var line = d3.line()
          .x( d=> x(d.dateFacticeYear))
          .y( d=> y(d.value));
          
        // Path element
        g.append("path")
          .attr("class", "line")
          .attr("d", line(dataMonth1))
          .style("stroke", "#408000")
          .attr("stroke-width", 2.5)
          .style("fill", "none");
      }

      //Add the points on the line on chart
      function addPointsForMonth(){

        var circ = svg.selectAll('circle')
            .data(dataMonth1)
            .enter()
            .append('circle')
            .style("fill", "#6332E2")

        var attrX = 
          circ.attr("r", circleRay)
              .attr("cx", function(d) { return x(d.dateFacticeYear) + margin.left; })
              .attr("cy", function(d) { return y(d.value)+circleRay});

        circ.on("mousemove", function(d){
              tooltip
                .style("left", d3.event.pageX - 70 + "px")
                .style("top", d3.event.pageY - 90 + "px")
                .style("display", "inline-block")
                .html(timeMonthLetter(d.dateFacticeYear) + " - " + d.value + " %");
            })
            .on("mouseout", function(d){ tooltip.style("display", "none");})
      }

      //Update the Axis For Year on chart
      function updateAxisForYear(){

        //Update x and y axis

        //1 - rejoin data
        xaxis = g.selectAll(".xaxis");
        
        //2 - Remove axis
        xaxis.exit().remove();//remove unneeded axis

        var yaxis = g.selectAll(".yaxis");
          
        xaxis.exit().remove();//remove unneeded axis

        //3 - Update axis
        xaxis.enter().append("xaxis")
          .attr("class", "xaxis");

        yaxis.enter().append("yaxis")
          .attr("class", "yaxis");

        // X scale definition
 
        x = d3.scaleTime().range([0, iwidth]);
        xDomain=d3.extent(dataYear1, function(d) { return d.key; });
        x.domain(xDomain);

        // Y scale definition
        y = d3.scaleLinear().rangeRound([iheight, 0]);
        var max = d3.max(dataYear1, function(d){
          return +d.value});
        yDomain=[0,max];
        y.domain(yDomain);

        // Axis x
        xaxis = xaxis.attr('class', 'xaxis')
            .call(d3.axisBottom(x).ticks(d3.timeYear, 1)
              .tickFormat(timeYearLetter))
            .attr("transform", `translate(0,${iheight})`)
            .attr("class", "xaxis");

        // Axis y  
        yaxis = yaxis.attr('class', 'yaxis')
            .call(d3.axisLeft(y));
      }

      //Update the line for year on chart
      function updateLineForYear(){

        //Update line
        //1 - rejoin data
        var line = g.selectAll(".line");        
        //2 - Remove line
        line.exit().remove();//remove unneeded lines
        //3 - Update line
        line.enter().append("path")
          .attr("class", "line");

        // Add the line which join the points
        var linef = d3.line()
          .x( d=> x(d.key))
          .y( d=> y(d.value));
          
        // Path element
        line.attr("d", linef(dataYear1))
          .style("stroke", "#ff6600")
          .attr("stroke-width", 2.5)
          .style("fill", "none");
      }

      //Update the points for year on chart
      function updatePointsForYear(){

        //Update points
        //1 - rejoin data
        var circ = svg.selectAll('circle').data(dataYear1);
        //2 - Remove points
        circ.exit().remove();//remove unneeded points
        //3 - Update points
        circ.enter().append("circle");

        circ.attr("r", circleRay);
        circ.attr("cx", function(d) { return x(d.key) + margin.left; });
        circ.attr("cy", function(d) { return y(d.value)+circleRay});
        circ.on("mousemove", function(d){
              tooltip
                .style("left", d3.event.pageX - 70 + "px")
                .style("top", d3.event.pageY - 90 + "px")
                .style("display", "inline-block")
                .html(timeYearLetter(d.key) + " - " + d.value + " %");
            })
            .on("mouseout", function(d){ tooltip.style("display", "none");})        
      }

      function updateLineChartToMonth(){
        updateAxisForMonth();
        updateLineForMonth();
        updatePointsForMonth();
        d3.select("#swToMonthButton").attr("disabled", true);
        d3.select("#swToYearButton").attr("disabled", null);
        //Change text  
        d3.select("h2").text("Dataset about capacitation quantity (rate under total, in %) by month");
      }

      //update the Axis For month on chart
      function updateAxisForMonth(){

        //Update x and y axis

        //1 - rejoin data
        xaxis = g.selectAll(".xaxis");
        
        //2 - Remove axis
        xaxis.exit().remove();//remove unneeded axis

        var yaxis = g.selectAll(".yaxis");
          
        xaxis.exit().remove();//remove unneeded axis

        //3 - Update axis
        xaxis.enter().append("xaxis")
          .attr("class", "xaxis");

        yaxis.enter().append("yaxis")
          .attr("class", "yaxis");

        // X scale definition

        x = d3.scaleTime().range([0, iwidth]);
        xDomain=d3.extent(dataMonth1, function(d) { return d.dateFacticeYear; });
        x.domain(xDomain);

        // Y scale definition
        y = d3.scaleLinear().rangeRound([iheight, 0]);
        var max = d3.max(dataMonth1, function(d){
          return +d.value});
        yDomain=[0,max];
        y.domain(yDomain);

        // Axis x
        xaxis = xaxis.attr('class', 'xaxis')
            .call(d3.axisBottom(x).ticks(d3.timeMonth, 1)
              .tickFormat(d3.timeFormat("%b")))
            .attr("transform", `translate(0,${iheight})`)
            .attr("class", "xaxis");

        // Axis y  
        yaxis = yaxis.attr('class', 'yaxis')
            .call(d3.axisLeft(y));
      }

      //Update the line for Month on chart
      function updateLineForMonth(){

        //Update line
        //1 - rejoin data
        var line = g.selectAll(".line");        
        //2 - Remove line
        line.exit().remove();//remove unneeded lines
        //3 - Update line
        line.enter().append("path")
          .attr("class", "line");

        // Add the line which join the points
        var linef = d3.line()
          .x( d=> x(d.dateFacticeYear))
          .y( d=> y(d.value));
          
        // Path element
        line.attr("d", linef(dataMonth1))
          .style("stroke", "#408000")
          .attr("stroke-width", 2.5)
          .style("fill", "none");
      }

      //Update the points for year on chart
      function updatePointsForMonth(){

        //Update points
        //1 - rejoin data
        var circ = svg.selectAll('circle').data(dataMonth1);
        //2 - Remove points
        circ.exit().remove();//remove unneeded points

        //3 - Update points
        circ.enter().append("circle");

        circ.attr("r", circleRay);
        circ.attr("cx", function(d) { return x(d.dateFacticeYear) + margin.left; });
        circ.attr("cy", function(d) { return y(d.value)+circleRay});

        //But as the number of circle is different between the two lines, we only update 3 points

        //Then we have to create the other points
        var circ = svg.selectAll('circle2')
          .data(dataMonth1)
          .enter()
          .append('circle')
          .style("fill", "#6332E2");
        circ.attr("r", circleRay);
        circ.attr("cx", function(d) { return x(d.dateFacticeYear) + margin.left; });
        circ.attr("cy", function(d) { return y(d.value)+circleRay});
        circ.on("mousemove", function(d){
              tooltip
                .style("left", d3.event.pageX - 70 + "px")
                .style("top", d3.event.pageY - 90 + "px")
                .style("display", "inline-block")
                .html(timeMonthLetter(d.dateFacticeYear) + " - " + d.value + " %");
            })
            .on("mouseout", function(d){ tooltip.style("display", "none");})
      }

      function updateLineChartToYear(){
        updateAxisForYear();
        updateLineForYear();
        updatePointsForYear();
        d3.select("#swToYearButton").attr("disabled", true);
        d3.select("#swToMonthButton").attr("disabled", null);
        //Change text
        d3.select("h2").text("Dataset about capacitation quantity (rate under total, in %) by year");
      }
    </script>

    <p style="font-size:90%">The data used come from the Colombian open data website - direct link <a href="https://www.datos.gov.co/api/views/nmxb-8juf/rows.csv?accessType=DOWNLOAD&bom=true&format=true">here</a></p>
    <p style="font-size:90%">This project is under <a href="https://opensource.org/licenses/MIT">MIT license.</a></p>
    <div class="wrapper">
      <header>
        <p><a href="">Link of this page - for sharing for example</a></p>
      </header>
      <section>
        <p class="view"><a href="https://github.com/pierreraimbaud/CapacitacionesColombia">Project URL on GitHub <small>pierreraimbaud/CapacitacionesColombia</small></a>   -   <a style="font-size:90%" href="https://github.com/pierreraimbaud/CapacitacionesColombia#markdown">Markdown link</a></p>        
      </section>
      <footer>
        <p>Author and link : this project is maintained by <a href="https://github.com/pierreraimbaud">pierreraimbaud</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src=""></script>
    
  </body>
</html>